
  
  .login-box h2 {
    text-align: center;
  }

 .body {
background-color:#d4e3ec ;
}

.container {

  background-color: rgb(228, 218, 186);
}

.form-group {
  background-color: bisque;
}

.form-control{

  background-color: rgb(240, 255, 246);
}
 
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #daeeda;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .textarea {
    background-color: aqua;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
